.App {
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
}

.button-cus{
  color: #bbb;
  padding: 10px;
}

.input-cus{
  width: 100px;
  padding: 10px;
  border: 1px solid #bbb;
  height: 3px;
}

input#outlined-basic {
  height: 3px !important;
}